body{
width: 650px;
margin: 0 auto;
background: #000;
color: #fff;
font: 12px sans-serif;
}
h1{
font-size: 24px;
}
h2{
font-size: 18px;
margin-top: 0px;
}
a{
color: #fff;
}
a:focus,a:hover{
text-decoration: none;
}
table{
margin-bottom: 10px;
border-spacing: 0;
}
caption{
margin-bottom: 10px;
font-size: 14px;
font-weight: bold;
text-align: left;
}
th,td{
padding: opx 10px 0px 0px;
text-align: left;
}
div.planet{
margin: 10px 0px;
padding: 20px 20px 20px 250px;
border: 1px solid #fff;
background-position: 20px 20px;
background-repeat: no-repeat;
}
#jupiter{
background-image: url(jupiter.jpeg);
}
#saturn{
background-image: url(saturn.jpeg);
}
#uranus{
background-image: url(uranus.jpeg);
}
#neptune{
background-image: url(neptune.jpeg);
}
